body  {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  background-color: #849d8f;
  color: black;
}

a { 
text-decoration: none;
}

* {
  outline: none;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1200px;
  
  background-color: #849d8f;
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 500ms ease, background-color 500ms ease; 
  -moz-transition: background-image 500ms ease, background-color 500ms ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
  background-image: url("slide-1.png");
}

.site-wrapper::after {
  background-image: url("slide-2.png");
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #fff;
}

.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}

.global-btn{
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0,76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.slide-btn  {
  display: inline-block;
  padding: 12px 0;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0,76);
  background: #f26843;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  width: 280px;
  height: 64px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.slide-btn:hover,
.global-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active,
.global-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);

}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-3.png");
}
#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8d84;
  background-image: url("../img/slide-1.png");
}


#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #fff;;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
}

.contacts p {
  margin: 0;
}

.contacts .work-time {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.contacts .phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px
}

.main-header {
  display: flex;
}
.main-header img {
  padding-top: 9px;
  margin-right: 10px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
 
}

.site-nav {
  display: flex;
  position: relative;
  justify-content: left;
  margin: 0;
  margin-top: 23px;
  padding: 0;
  list-style: none;
  width: 500px;
}

.site-nav li a {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}


.user-nav {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  width: 262px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  
}

.user-nav li p {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  margin: 0;
}

.user-nav li p {
  margin-right: 10px;
}

.user-nav .search-field p {
  width: 32px;
  height: 32px;
  background-image: url("/img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-nav li:nth-child(2) p {
  width: 93px;
  height: 32px;
  padding: 8px 17px 9px 44px;
}


.user-nav li:nth-child(2) p::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background-image: url("/img/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav li:nth-child(3) p {
  width: 117px;
  height: 32px;
  padding: 8px 17px 9px 44px;
  margin-right: 0;
}

.user-nav li:nth-child(3) p::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("/img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-field {
  position: relative; 
}

.search-list {
  display: none;
  padding: 0;
  position: absolute;
  top: 36;
  right: 10;
  list-style: none;
  z-index: 100;
}

.search-field:hover .search-list {
  display: block;
}

.search-field:hover p {
  background-image: url("/img/loupe-hover.svg");
  background-color: #fff;
  
}

.search-list .search-item {
  padding: 20px 15px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search-input {
  width: 311px;
  padding: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding: 14px;
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.search-input:focus + label {
  display: block;
}

.search-hidden {
  display: none;
  position: absolute;
  top: 7;
  left: 15;
  color: #5b9ddf;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  padding-left: 15px;
  
}

.login-field {
  position: relative;
}

.login-list form {
  margin-bottom: 0;
}

.login-list {
 
  position: absolute;
  top: 36;
  right: 10;
  padding: 0;
  padding: 20px 17px 22px 19px;
  list-style: none;
  width: 277px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 100;
}

.login-item {
  margin-bottom: 20px;
}

.login-input {
  width: 241px;
  padding: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.login-hidden{
  /* display: none; */
  position: absolute;
  top: 7;
  left: 20;
  color: #5b9ddf;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  padding-left: 15px;
}

.login-item:nth-child(2) .login-hidden {
  top: 76;
}

.form-buttons {
  display: flex;
  flex-wrap: wrap;
  
}

.btn-sign-in {
  box-sizing: content-box;
  padding: 16px 25px 14px 25px;
  width: 50px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 20px;
}

.login-list a {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px; 
}

.sub-menu {
  position: absolute;
  list-style: none;
  left: -7px;
  top: 34px;
  margin: 0;
  padding: 0;
  width: 143px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 4px;
  z-index: 100;
  display: none;
}

.site-nav li {
  margin-right: 5px;
}

.site-nav li a {
  position: relative;
  padding: 9px 13px;

}

.site-nav li a::after {
  content: "";
  position: absolute;
  right: 12px;
  bottom: 10px;
  left: 12px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.site-nav li:hover a,
.site-nav li:focus a {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 100px;
  margin-right: 0;
}

.site-nav li a:active {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 100px;
  margin-right: 0;
  box-shadow: inset 0 2px 1px #696969; 
}

.sub-menu li:hover  a {
  background-color: #fbded8;
  border-radius: 0;
  
}

.sub-menu li {
  margin: 0;
  text-decoration: none;
}
.sub-menu li a {
  display: block;
  padding: 10px 20px;
  
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.site-nav li:hover .sub-menu {
  display: block;
}

.sub-menu .new p {
  margin: 0;
  padding: 0;
  padding: 14px 21px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 4px;

}
.site-nav li {
  position: relative;
  
}

.sub-menu .new p::after {
  content: "";

  position: absolute;
  width: 128px;
  top: 98%;
  left: 6px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
} 



.sub-menu li:last-child {
  padding-bottom: 5px;
}

.current-page {
  color: #fff;
  border-radius: 100px;
  background-color: #d07058;
}
