body  {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  background-color: #849d8f;
  color: black;
}

a { 
text-decoration: none;
}

* {
  outline: none;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1200px;
  
  background-color: #849d8f;
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 500ms ease, background-color 500ms ease; 
  -moz-transition: background-image 500ms ease, background-color 500ms ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
  background-image: url("slide-1.png");
}

.site-wrapper::after {
  background-image: url("slide-2.png");
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}

.global-btn{
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0,76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.slide-btn  {
  display: inline-block;
  padding: 12px 0;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0,76);
  background: #f26843;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  width: 280px;
  height: 64px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.slide-btn:hover,
.global-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active,
.global-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);

}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-3.png");
}
#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8d84;
  background-image: url("../img/slide-1.png");
}


#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #fff;;
}

.basket {
  margin-bottom: 20px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
}

.contacts p {
  margin: 0;
}

.contacts .work-time {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.contacts .phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px
}

.main-header {
  display: flex;
}
.main-header img {
  padding-top: 9px;
  margin-right: 10px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
 
}

.site-nav {
  display: flex;
  position: relative;
  justify-content: left;
  margin: 0;
  margin-top: 23px;
  padding: 0;
  list-style: none;
  width: 500px;
}

.site-nav li a {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}


.user-nav {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  width: 262px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  
}

.user-nav li p {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  margin: 0;
}

.user-nav li p {
  margin-right: 10px;
}

.user-nav .search-field p {
  width: 32px;
  height: 32px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-nav li:nth-child(2) p {
  width: 93px;
  height: 32px;
  padding: 8px 17px 9px 44px;
}


.user-nav li:nth-child(2) p::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background-image: url("../img/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav li:nth-child(2) p:hover::before {
  background-image: url("../img/entrance.svg");
}

.user-nav li:nth-child(2) p:hover {
  background-color: #fff;
  color: #000;
}


.user-nav li:nth-child(3) p {
  width: 117px;
  height: 32px;
  padding: 8px 17px 9px 44px;
  margin-right: 0;
}

.user-nav li:nth-child(3) p::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-field {
  position: relative; 
}

.search-list {
  display: none;
  padding: 0;
  position: absolute;
  top: 36;
  right: 10;
  list-style: none;
  z-index: 100;
}

.search-field:hover .search-list {
  display: block;
}

.search-field:hover p {
  background-image: url("../img/loupe-hover.svg");
  background-color: #fff;
}

.search-list .search-item {
  padding: 20px 15px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search-input {
  width: 311px;
  padding: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding: 14px;
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.search-input:focus + label {
  display: block;
}

.search-hidden {
  display: none;
  position: absolute;
  top: 7;
  left: 15;
  color: #5b9ddf;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  padding-left: 15px;
  
}

.login-field {
  position: relative;
}

.login-list form {
  margin-bottom: 0;
}

.login-list {
 display: none;
  position: absolute;
  top: 36;
  right: 10;
  padding: 0;
  padding: 20px 17px 22px 19px;
  list-style: none;
  width: 277px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 100;
}

.login-field:hover .login-list {
  display: block;
}

.login-item {
  margin-bottom: 20px;
}

.login-input {
  width: 241px;
  padding: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.login-hidden{
  display: none;
  position: absolute;
  top: 7;
  left: 20;
  color: #5b9ddf;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  padding-left: 15px;
}

.login-item:nth-child(2) .login-hidden {
  top: 76;
}

.form-buttons {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.form-a {
  display: flex;
  flex-direction: column;
}

.btn-sign-in {
  box-sizing: content-box;
  padding: 16px 25px 14px 25px;
  width: 50px;
  color: #fefefe;
  margin-right: 20px;
}

.login-list a {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px; 
}

.new-password::after {
  content: "";
  position: absolute;
  height: 1px;
  top: 19px;
  left: 120;
  right: 21px;
  background-color: rgba(0, 0, 0, 0.3);
}

.sign-up::after {
  content: "";
  position: absolute;
  height: 1px;
  top: 43;
  left: 120;
  right: 3px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* 
.login-field:hover p {
  background-color: #fff;
  color: #000;
} */


.login-input:focus::placeholder {
  color: transparent;
}

.login-input:focus + label {
  display: block;
}

.login-input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding: 14px;
  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.sub-menu {
  position: absolute;
  list-style: none;
  left: -7px;
  top: 34px;
  margin: 0;
  padding: 0;
  width: 143px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 4px;
  z-index: 100;
  display: none;
}

.site-nav li {
  margin-right: 5px;
}

.site-nav li a {
  position: relative;
  padding: 9px 13px;

}

.site-nav li a::after {
  content: "";
  position: absolute;
  right: 12px;
  bottom: 10px;
  left: 12px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.site-nav li:hover a,
.site-nav li:focus a {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 100px;
  margin-right: 0;
}

.site-nav li a:active {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 100px;
  margin-right: 0;
  box-shadow: inset 0 2px 1px #696969; 
}

.sub-menu li:hover  a {
  background-color: #fbded8;
  border-radius: 0;
  
}

.sub-menu li {
  margin: 0;
  text-decoration: none;
}
.sub-menu li a {
  display: block;
  padding: 10px 20px;
  
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.site-nav li:hover .sub-menu {
  display: block;
}

.sub-menu .new p {
  margin: 0;
  padding: 0;
  padding: 14px 21px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 4px;

}
.site-nav li {
  position: relative;
  
}

.sub-menu .new p::after {
  content: "";

  position: absolute;
  width: 128px;
  top: 98%;
  left: 6px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
} 



.sub-menu li:last-child {
  padding-bottom: 5px;
}

.current-page {
  color: #fff;
  border-radius: 100px;
  background-color: #d07058;
}

.gift-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.raspberries-gift {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  width: 560px;
  background-color: #c32f55;
  background-image: url("../img/raspberries-gift.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.raspberries-gift h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.raspberries-gift p {
  margin: 0;
  margin-bottom: 43px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.gift-btn {
  margin-left: auto;
  padding: 15px 22px 14px 22px;
}

.gift-btn-fix {
  margin-left: 355px;
  padding: 15px 22px 14px 22px;
}

.choco-gift {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  width: 560px;
  background-color: #5e3924;
  background-image: url("../img/choco-gift.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.choco-gift h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.choco-gift p {
  margin: 0;
  margin-bottom: 43px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}

.popular-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end; 
  color: #ffffff;
  padding-top: 209px;
  width: 267px; 
}

.popular-item b { 
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.popular-item p {
  margin: 0;
  font-size: 30px;
}

.popular-item-type {
  margin: 0;
  margin-top: 30px;
}

.popular-item-type a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  text-decoration: underline rgba(255, 255, 255, 0.2);
}

.popular-item::before {
  content: "";
  position: absolute;
  top: 0;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.popular-item:nth-child(1) {
  background-image: url("../img/ic1.png");
  background-repeat: no-repeat;
}

.popular-item:nth-child(2) {
  background-image: url("../img/ic2.png");
  background-repeat: no-repeat;
}

.popular-item:nth-child(3) {
  background-image: url("../img/ic3.png");
  background-repeat: no-repeat;
}
.popular-item:nth-child(4) {
  background-image: url("../img/ic4.png");
  background-repeat: no-repeat;
}

.features {
  padding: 25px 35px 0 20px;
  background-image: url("../img/waffles-texture.jpg");
  border-radius: 15px;
  margin-bottom: 40px;
}

.features h2 {
  margin: 0;
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  position: relative;
  margin-left: 58px;
  margin-bottom: 22px;
  width: 476px;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.features-item p {
  margin: 0;
}

.features-item:nth-child(1)::before {
  position: absolute;
  content: "";
  top: -12px;
  left: -56px;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.features-item:nth-child(2)::before {
  position: absolute;
  content: "";
  top: -12px;
  left: -56px;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg ");
  background-repeat: no-repeat;
}

.features-item:nth-child(3)::before {
  position: absolute;
  content: "";
  top: -12px;
  left: -56px;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.features-item:nth-child(4)::before {
  position: absolute;
  content: "";
  top: -12px;
  left: -56px;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.section-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  color: #000;
  padding: 33px 259px 33px 20px;
  min-height: 220px;
  width: 560px;
  background-color: #fff;
  background-image: url("../img/Strawberry.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.blog p {
  margin: 0;
  margin-bottom: 7px;
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline solid #353535; 
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  color: #000;
  width: 560px;
  padding: 5px;
  background-color: #fff;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.subsrcibe-wrapper {
  padding: 30px 20px;
  background-color: #f8f7f4; 
  border-radius: 15px;
}

.subsrcibe-wrapper p {
  margin: 0;
  margin-bottom: 38px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.subs-input { 
  width: 368px;
  padding: 9px;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  border-radius: 4px;
}

.subs-input:focus::placeholder {
  color: transparent;
}

.subs-btn {
  padding: 11px 19px 10px 19px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.map {
  margin-left: -27px;
  margin-right: -27px;
}